<!-- <p>userlog works!</p> -->

<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  style="background-image: url('https://img.freepik.com/premium-photo/large-group-animals-standing-together-field_622540-481.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
<div *ngIf="users.length == 0">


    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="width: 40%; background-color: rgba(255, 255, 255, 0.7); padding: 10px; border-radius: 0px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <form  (ngSubmit)="register()" [formGroup]="frmRegister"   style="width: 80%; display: flex; flex-direction: column; align-items: center; justify-content: space-between;">
                <h1 style="text-align: center; font-size: 40px; color: rgb(193, 87, 20);">LOGIN</h1><br>
                <!-- <input id="username" class="form-control" type="text" formControlName="username" placeholder=" Username" #username style="margin-bottom: 10px; width: 100%; height: 40px; padding: 5px; border: none;"><br><br>
                <input id="password" class="form-control" type="password" formControlName="password" placeholder=" Password" #password style="margin-bottom: 10px; width: 100%; height: 40px; padding: 5px; border: none;"><br> -->
                
                    <div class="formField">
                         <input  id="username" type="text" required="" formControlName="username" #username/>
                    <span>Username</span>
                    </div>
   
                 <div class="formField" style="margin-top: 30px;">
                     <input id="password" type="text" required="" formControlName="password" #password/>
                    <span>Password</span>
                
                 </div>
    
                <button type="submit" class="btn btn-primary" (click)="register()" style="margin-top: 300px; border: none; background-color: transparent; color: rgb(193, 87, 20); cursor: pointer; position: absolute; right: 37%; font-size: 20px;">signin</button></form>
        
                <!-- <button type="submit" class="btn btn-primary" (click)="login(username,password)" style="margin-top: 100px; width: 40%; height: 40px; background-color: rgb(236, 189, 236); border: none; color: black; cursor: pointer; font-size: 30px;">login</button><br> --> 
            <button class="learn-more"  type="submit" (click)="login(username,password)" style="margin-top: 100px;">
                <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
                </span>
                <span class="button-text">login</span>
            </button>
        
        </div>
    </div>
    </div>    
</body>
</html>











<!-- สำรองไว้ก่อนแก้ใส่ ui -->
<!-- <p>userlog works!</p>
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
<div *ngIf="users.length == 0">
        <div class="container">
            <div>
                <form (ngSubmit)="register()" [formGroup]="frmRegister">
                    <label for="username">Username</label>
                    <input id="username" class="form-control" type="text" formControlName="username" placeholder="Enter your username" #username><br>
    
                    <label for="password">Password</label>
                    <input id="password" class="form-control" type="password" formControlName="password" placeholder="Enter your password" #password><br>
                    <button type="submit" class="btn btn-primary" (click)="register()">signin</button>
                </form>
                <button type="submit" class="btn btn-primary" (click)="login(username,password)">login</button>
            </div>
        </div> 
    </div>   
    
</body>
</html> -->
