  h1 {
    display: inline-block;
    margin-top: 25px;
    font-size: 2vw;
    color: rgb(103, 68, 29);
    text-align: center; /* จัดให้ข้อความอยู่ตรงกลาง */
    width: 100%; /* ให้ Element นี้เต็มขนาด */
  }