.mat-toolbar {
    width: 100%;
    height: 10vh; /* หรือความสูงที่คุณต้องการ */
    color: rgb(121, 170, 213);
    background-color: rgba(240, 214, 176, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4vw;
    padding-right: 4vw;
}

  
  
::ng-deep .cdk-overlay-pane {
    margin-top: 15px !important; /* ระยะห่างของเมนูที่ขยับลงมา */
}
.animal-image {
    margin-right: 20px;
    height: 250px;
    width: 250px;
  }
  .vs-container {
        display: flex;
        align-items: center;
      }
    


 //card vs 
.card {
  position: relative;
  width: 280px;
  height: 344px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 290px;
  height: 374px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #ebcaa9 0%, #89500e 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg,  #ebcaa9 0%, #89500e 100%  );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #eeb36e;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}




// top10

button {
  margin-top: 20px;
  display: flex; /* เพิ่ม */
  align-items: center; /* เพิ่ม */
  justify-content: center; /* เพิ่ม */

  padding: 1.2em 3em;
  
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #df8932;
  box-shadow: 0px 15px 20px rgba(126, 72, 5, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}


//login
button {
  color: black;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}



// button::before {
//   margin-left: auto;
// }

// button::after, button::before {
//   content: '';
//   width: 0%;
//   height: 2px;
//   background: #f44336;
//   display: block;
//   transition: 0.5s;
// }

// button:hover::after, button:hover::before {
//   width: 100%;
// }