.back-button {
   
    display: inline-block;
    margin-right: 25px;
    background-color:  rgba(138, 97, 255, 1);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1.5vw;
    cursor: pointer;
    margin-left: 55px; /* Adjust the margin-left value as needed */
}
  h1 {
   
    display: inline-block;
    margin-top: 25px;
    margin-left: 35%; /* ระยะห่างด้านซ้ายของข้อความ */
    font-size: 2vw;
    color: rgb(103, 68, 29);
  }
 
  .back-button1 {
    display: inline-block;
    margin-right: 25px;
    background-color:  rgb(254, 250, 4);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1vw;
    cursor: pointer;
    margin-left: 42%; /* Adjust the margin-left value as needed */
}

.im{
    height: 250px;
    width: 250px;
}




// upload a fike
.card {
  width: 400px;
  height: 230px;
  background: rgb(255, 161, 37);
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 
 .shadow {
  box-shadow: inset 0 -3em 3em rgba(247, 226, 73, 0.3),
              0 0  0 2px rgb(248, 231, 194),
              0.3em 0.3em 1em rgba(247, 226, 73, 0.3);
 }
 
 